*{
    margin: 0;
    box-sizing: border-box;
}

.cover{
    background-color: red;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(100,156,156);
}