/* For Colors and Styling */
:root {
  --PrimaryColor: hsl(265, 46%, 53%);
  --SecondaryColor: hsl(265, 61%, 73%);
  --gradientColor: linear-gradient(to right, #b3a0959a, #797BE4 );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
  --cardHover: rgb(255, 255, 255);
}

.mainn {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.mainn .secTitle .title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--textColor);
  margin: 1rem 0;
  z-index: 2;
}
.mainn .secTitle .title::after {
  position: absolute;
  content: "";
  background: var(--SecondaryColor);
  height: 5px;
  width: 72px;
  right: 0;
  bottom: 0px;
  z-index: -1;
}
.mainn .secContent {
  justify-content: center;
  gap: 1.5rem;
}
.mainn .secContent .singleJob {
  height: 100%;
  display: grid;
  row-gap: 10px;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  background: var(--cardHover);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.mainn .secContent .singleJob:hover {
  background: var(--cardBG);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3s ease;
}
.mainn .secContent .singleJob .imageDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.mainn .secContent .singleJob .imageDiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.mainn .secContent .singleJob .imageDiv:hover img {
  transform: scale(1.1);
}
.mainn .secContent .singleJob .cardInfo {
  padding: 1rem;
}
.mainn .secContent .singleJob .cardInfo .jobTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.mainn .secContent .singleJob .cardInfo .work {
  gap: 0.5rem;
}
.mainn .secContent .singleJob .cardInfo .work .icon {
  color: var(--textColor);
  font-size: 18px;
}
.mainn .secContent .singleJob .cardInfo .work .name {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.mainn .secContent .singleJob .cardInfo .fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid var(--greyText);
  border-bottom: 1.5px solid var(--greyText);
}
.mainn .secContent .singleJob .cardInfo .fees .grade {
  color: var(--textColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainn .secContent .singleJob .cardInfo .fees .grade small {
  text-align: center;
  background: var(--gradientColor);
  border-radius: 1rem;
  color: var(--whiteColor);
  padding: 1px 10px;
  font-size: 10px;
}
.mainn .secContent .singleJob .cardInfo .fees .price {
  font-size: 2rem;
  color: var(--blackColor);
}
.mainn .secContent .singleJob .cardInfo .desc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
}
.mainn .secContent .singleJob .cardInfo .btn {
  margin-top: 1rem;
  color: var(--whiteColor);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.mainn .secContent .singleJob .cardInfo .btn .icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
  .title::after {
    width: 100px !important;
  }
  .secContent {
    grid-template-columns: repeat(2, 1fr);
  }
  .secContent .singleJob {
    height: auto;
  }
}
@media screen and (min-width: 840px) {
  .secContent {
    grid-template-columns: repeat(3, 1fr);
  }
  .secContent .singleJob {
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */